//
// Icon Font: boundless-icon-font
//

@font-face {
  font-family: "boundless-icon-font";
  src: url("../font-files/boundless-icon-font_eca28fa44011c92b23b5c75c464842e9.eot");
  src: url("../font-files/boundless-icon-font_eca28fa44011c92b23b5c75c464842e9.eot?#iefix") format("embedded-opentype"),
       url("../font-files/boundless-icon-font_eca28fa44011c92b23b5c75c464842e9.woff") format("woff"),
       url("../font-files/boundless-icon-font_eca28fa44011c92b23b5c75c464842e9.ttf") format("truetype"),
       url("../font-files/boundless-icon-font_eca28fa44011c92b23b5c75c464842e9.svg#boundless-icon-font") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "boundless-icon-font";
    src: url("../font-files/boundless-icon-font_eca28fa44011c92b23b5c75c464842e9.svg#boundless-icon-font") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-blog:before,
.icon-facebook:before,
.icon-twitter:before {
  display: inline-block;
  font-family: "boundless-icon-font";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.icon-blog:before { content: "\f103"; }
.icon-facebook:before { content: "\f102"; }
.icon-twitter:before { content: "\f104"; }
