//
// Icon Font: boundless-icon-font
//

@font-face {
  font-family: "boundless-icon-font";
  src: font-url("boundless-icon-font/boundless-icon-font.eot");
  src: font-url("boundless-icon-font/boundless-icon-font.eot?#iefix") format("embedded-opentype"),
       font-url("boundless-icon-font/boundless-icon-font.woff") format("woff"),
       font-url("boundless-icon-font/boundless-icon-font.ttf") format("truetype"),
       font-url("boundless-icon-font/boundless-icon-font.svg#boundless-icon-font") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "boundless-icon-font";
    src: url("boundless-icon-font/boundless-icon-font.svg#boundless-icon-font") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.boundless-icon-bike:before,
.boundless-icon-blog:before,
.boundless-icon-competition:before,
.boundless-icon-dineraccess:before,
.boundless-icon-download:before,
.boundless-icon-drink:before,
.boundless-icon-facebook:before,
.boundless-icon-flashcards:before,
.boundless-icon-googleplus:before,
.boundless-icon-joiedevivre:before,
.boundless-icon-lasers:before,
.boundless-icon-office:before,
.boundless-icon-pepe:before,
.boundless-icon-pingpong:before,
.boundless-icon-quizzes:before,
.boundless-icon-screen:before,
.boundless-icon-standingdesks:before,
.boundless-icon-twitter:before,
.boundless-icon-videogames:before {
  display: inline-block;
  font-family: "boundless-icon-font";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.boundless-icon-bike:before { content: "\f103"; }
.boundless-icon-blog:before { content: "\f100"; }
.boundless-icon-competition:before { content: "\f104"; }
.boundless-icon-dineraccess:before { content: "\f105"; }
.boundless-icon-download:before { content: "\f114"; }
.boundless-icon-drink:before { content: "\f115"; }
.boundless-icon-facebook:before { content: "\f113"; }
.boundless-icon-flashcards:before { content: "\f116"; }
.boundless-icon-googleplus:before { content: "\f10f"; }
.boundless-icon-joiedevivre:before { content: "\f107"; }
.boundless-icon-lasers:before { content: "\f112"; }
.boundless-icon-office:before { content: "\f109"; }
.boundless-icon-pepe:before { content: "\f10a"; }
.boundless-icon-pingpong:before { content: "\f10b"; }
.boundless-icon-quizzes:before { content: "\f117"; }
.boundless-icon-screen:before { content: "\f10c"; }
.boundless-icon-standingdesks:before { content: "\f10d"; }
.boundless-icon-twitter:before { content: "\f102"; }
.boundless-icon-videogames:before { content: "\f10e"; }
