//
// Icon Font: boundless-icon-font
//

@font-face {
  font-family: "boundless-icon-font";
  src: font-url("boundless-icon-font/boundless-icon-font.eot");
  src: font-url("boundless-icon-font/boundless-icon-font.eot?#iefix") format("embedded-opentype"),
       font-url("boundless-icon-font/boundless-icon-font.woff") format("woff"),
       font-url("boundless-icon-font/boundless-icon-font.ttf") format("truetype"),
       font-url("boundless-icon-font/boundless-icon-font.svg#boundless-icon-font") format("svg");
       asset-data-url("boundless-icon-font/boundless-icon-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "boundless-icon-font";
    src: font-url("boundless-icon-font/boundless-icon-font.svg#boundless-icon-font") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.boundless-icon-approved:before,
.boundless-icon-arrow-thick:before,
.boundless-icon-arrow-thin:before,
.boundless-icon-assign:before,
.boundless-icon-assigned:before,
.boundless-icon-assignments:before,
.boundless-icon-bell:before,
.boundless-icon-bike:before,
.boundless-icon-blog:before,
.boundless-icon-book:before,
.boundless-icon-bot:before,
.boundless-icon-checkmark:before,
.boundless-icon-checkmark_negative:before,
.boundless-icon-chevron-thick:before,
.boundless-icon-chevron-thin:before,
.boundless-icon-circle-check:before,
.boundless-icon-clock:before,
.boundless-icon-closeissue:before,
.boundless-icon-commented:before,
.boundless-icon-competition:before,
.boundless-icon-courses:before,
.boundless-icon-curate:before,
.boundless-icon-customize:before,
.boundless-icon-dineraccess:before,
.boundless-icon-discussion:before,
.boundless-icon-download:before,
.boundless-icon-drink:before,
.boundless-icon-edit:before,
.boundless-icon-eye:before,
.boundless-icon-facebook:before,
.boundless-icon-flashcards:before,
.boundless-icon-follow:before,
.boundless-icon-gears:before,
.boundless-icon-googleplus:before,
.boundless-icon-highlightsnotes:before,
.boundless-icon-history:before,
.boundless-icon-issues:before,
.boundless-icon-joiedevivre:before,
.boundless-icon-lasers:before,
.boundless-icon-learn:before,
.boundless-icon-lesson:before,
.boundless-icon-login:before,
.boundless-icon-logout:before,
.boundless-icon-mentioned:before,
.boundless-icon-office:before,
.boundless-icon-openissue:before,
.boundless-icon-organizeedit:before,
.boundless-icon-pdf:before,
.boundless-icon-peerreview:before,
.boundless-icon-pepe:before,
.boundless-icon-pingpong:before,
.boundless-icon-plus:before,
.boundless-icon-powerpoint-righttab:before,
.boundless-icon-ppt:before,
.boundless-icon-proposechange:before,
.boundless-icon-quizzes:before,
.boundless-icon-quotes:before,
.boundless-icon-read:before,
.boundless-icon-rejected:before,
.boundless-icon-reopenissue:before,
.boundless-icon-save:before,
.boundless-icon-screen:before,
.boundless-icon-search:before,
.boundless-icon-settings:before,
.boundless-icon-smartnotes:before,
.boundless-icon-standingdesks:before,
.boundless-icon-star:before,
.boundless-icon-start:before,
.boundless-icon-teach:before,
.boundless-icon-toreview:before,
.boundless-icon-triangle:before,
.boundless-icon-twitter:before,
.boundless-icon-updatechange:before,
.boundless-icon-user:before,
.boundless-icon-videogames:before,
.boundless-icon-worddoc:before,
.boundless-icon-x:before,
.boundless-icon-x_negative:before {
  display: inline-block;
  font-family: "boundless-icon-font";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.boundless-icon-approved:before { content: "\f100"; }
.boundless-icon-arrow-thick:before { content: "\f101"; }
.boundless-icon-arrow-thin:before { content: "\f102"; }
.boundless-icon-assign:before { content: "\f103"; }
.boundless-icon-assigned:before { content: "\f104"; }
.boundless-icon-assignments:before { content: "\f105"; }
.boundless-icon-bell:before { content: "\f106"; }
.boundless-icon-bike:before { content: "\f107"; }
.boundless-icon-blog:before { content: "\f108"; }
.boundless-icon-book:before { content: "\f109"; }
.boundless-icon-bot:before { content: "\f10a"; }
.boundless-icon-checkmark:before { content: "\f10b"; }
.boundless-icon-checkmark_negative:before { content: "\f10c"; }
.boundless-icon-chevron-thick:before { content: "\f10d"; }
.boundless-icon-chevron-thin:before { content: "\f10e"; }
.boundless-icon-circle-check:before { content: "\f10f"; }
.boundless-icon-clock:before { content: "\f110"; }
.boundless-icon-closeissue:before { content: "\f111"; }
.boundless-icon-commented:before { content: "\f112"; }
.boundless-icon-competition:before { content: "\f113"; }
.boundless-icon-courses:before { content: "\f114"; }
.boundless-icon-curate:before { content: "\f115"; }
.boundless-icon-customize:before { content: "\f116"; }
.boundless-icon-dineraccess:before { content: "\f117"; }
.boundless-icon-discussion:before { content: "\f118"; }
.boundless-icon-download:before { content: "\f119"; }
.boundless-icon-drink:before { content: "\f11a"; }
.boundless-icon-edit:before { content: "\f11b"; }
.boundless-icon-eye:before { content: "\f11c"; }
.boundless-icon-facebook:before { content: "\f11d"; }
.boundless-icon-flashcards:before { content: "\f11e"; }
.boundless-icon-follow:before { content: "\f11f"; }
.boundless-icon-gears:before { content: "\f120"; }
.boundless-icon-googleplus:before { content: "\f121"; }
.boundless-icon-highlightsnotes:before { content: "\f122"; }
.boundless-icon-history:before { content: "\f123"; }
.boundless-icon-issues:before { content: "\f124"; }
.boundless-icon-joiedevivre:before { content: "\f125"; }
.boundless-icon-lasers:before { content: "\f126"; }
.boundless-icon-learn:before { content: "\f127"; }
.boundless-icon-lesson:before { content: "\f128"; }
.boundless-icon-login:before { content: "\f129"; }
.boundless-icon-logout:before { content: "\f12a"; }
.boundless-icon-mentioned:before { content: "\f12b"; }
.boundless-icon-office:before { content: "\f12c"; }
.boundless-icon-openissue:before { content: "\f12d"; }
.boundless-icon-organizeedit:before { content: "\f12e"; }
.boundless-icon-pdf:before { content: "\f12f"; }
.boundless-icon-peerreview:before { content: "\f130"; }
.boundless-icon-pepe:before { content: "\f131"; }
.boundless-icon-pingpong:before { content: "\f132"; }
.boundless-icon-plus:before { content: "\f133"; }
.boundless-icon-powerpoint-righttab:before { content: "\f134"; }
.boundless-icon-ppt:before { content: "\f135"; }
.boundless-icon-proposechange:before { content: "\f136"; }
.boundless-icon-quizzes:before { content: "\f137"; }
.boundless-icon-quotes:before { content: "\f138"; }
.boundless-icon-read:before { content: "\f139"; }
.boundless-icon-rejected:before { content: "\f13a"; }
.boundless-icon-reopenissue:before { content: "\f13b"; }
.boundless-icon-save:before { content: "\f13c"; }
.boundless-icon-screen:before { content: "\f13d"; }
.boundless-icon-search:before { content: "\f13e"; }
.boundless-icon-settings:before { content: "\f13f"; }
.boundless-icon-smartnotes:before { content: "\f140"; }
.boundless-icon-standingdesks:before { content: "\f141"; }
.boundless-icon-star:before { content: "\f142"; }
.boundless-icon-start:before { content: "\f143"; }
.boundless-icon-teach:before { content: "\f144"; }
.boundless-icon-toreview:before { content: "\f145"; }
.boundless-icon-triangle:before { content: "\f146"; }
.boundless-icon-twitter:before { content: "\f147"; }
.boundless-icon-updatechange:before { content: "\f148"; }
.boundless-icon-user:before { content: "\f149"; }
.boundless-icon-videogames:before { content: "\f14a"; }
.boundless-icon-worddoc:before { content: "\f14b"; }
.boundless-icon-x:before { content: "\f14c"; }
.boundless-icon-x_negative:before { content: "\f14d"; }
